@import url(reset.css);
@import url(common.css);

/* ===================fonts================ */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

/* ======================================== */

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

.wrapper {}

.page {
    margin: 120px 15px;
    padding-bottom: 200px;
}

/* ======================================== */

.form-wrapper-1 {
    max-width: 700px;
    margin: 0 auto;
    color: #212B36;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    color: #637381;
    margin-bottom: 300px;
}

.title-box {}

.title {}

.title__headline {
    font-size: 44px;
    line-height: 1.25;/* 55/44 */
    font-weight: 700;
    padding-bottom: 8px;
    color: #212B36;
}

.title__text {
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    font-weight: 500;
    margin-bottom: 50px;
}

.sub-title-1 {
    font-size: 24px;
    line-height: 1.25; /* 30/24 */
    font-weight: 700;
    color: #212B36;
    margin-bottom: 30px;
}

/* ========================================== */

.form-box {
}

.main-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    margin: 55px 0;

}

.row-fields {
    flex: 0 0 336px;
    padding: 0 14px;
}

.row-1 {}

.row-1__line {}

.row-1__line, .row-2__line {
    margin-bottom: 30px;
}

.line {
    display: flex;
    outline: 1px solid #E7E7E7;
    border-radius: 7px;

}

.line-imput {
    flex: 0 0 336px;
    height: 54px;
    padding-left: 25px;
}

.row-2 {}

.row-2__line {}

.row-3 {
    flex: 1 0 auto;
}

.row-fields {}

.row-3 {
position: relative;
}

.row-3__box {

}

/* ============== textarea ====================== */

.row-3__textarea {
    max-height: 180px;
}

.textarea-line {
    display: flex;
    margin-bottom: 35px;
}

.textarea-line__imput {
    flex: 1 1 auto;
    height: 180px;
    padding-left: 25px;
    padding-top: 25px;
}

/* =============== checkbox =================== */

.row-3__box-radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 25px;
}

.row-3__check-box {
}

.checkbox-line {
    position: relative;
}

.row-3__box-radio:nth-child(2) {
    margin-bottom: 25px;
}

.checkbox-line__input {
    flex: 0 0 auto;
    position: 0;
    left: 0;
    top: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-line__input:focus + .checkbox-line__label {
    /* outline: 0.1px solid #b0b5b962;
    border-radius: 2px; */
    text-shadow: 0.2px 0.2px 0.2px #000;
}

.checkbox-line__label {
    cursor: pointer;
    display: inline-flex;
    gap: 15px;
}

.checkbox-line__label::before {
    content: '';
    flex: 0 0 22px;
    height: 22px;
    border-radius: 2px;
    outline: 0.5px solid #E7E7E7;
    width: 22px;
}

.checkbox-line__input:checked+.checkbox-line__label::before {
    content: '';
    flex: 0 0 auto;
    position: relative;
    top: 2px;
    background: url('../img/icons/checkbox-check.svg') 5px 7px no-repeat;
}

.row-3__box {}

/* =============== main form button =================== */

.row-3__place-button {
    position: absolute;
    bottom: -300px;
    right: 120px;
    width: 420px;
    height: 50px;
    background-color: rgb(45, 5, 241);
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}

.row-4__place-button:hover {
    color: #000;
    background-color: rgba(44, 5, 241, 0.809);
    text-shadow: 0.5px 0.5px 0;
}

/* ==================================================== */

.secondary-form {}

.row-fields {
    padding: 0;
}

.row-4 {
}

.row-4__sub-title {
    font-size: 20px;
    line-height: 1.2; /* 24/20 */
    font-weight: 600;
    color: #212B36;
    margin-bottom: 25px;
}

.row-4__line {
    display: flex; 
    gap: 20px;
}

.row-4__input {
    flex: 0 0 325px;
    max-height: 54px;
}

.row-4__apply-button {
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    font-weight: 600;
    color: #fff;
    background-color: #212B36;
    padding: 16px 12px;
    border-radius: 5px;
    transition: all 0.4s;
}

.row-4__apply-button:hover {
    background-color: #383b3e;
    color: #e7c386;
}

/* ================= media ================*/
@media (max-width: 730px) {

.form-wrapper-1 {
    max-width: 370px;
    }

.row-fields {
    flex: 0 0 325px;
    }

.row-4__line {
    flex-direction: column;
    }

.row-4__line {
    max-width: 325px;
    }

.row-4__place-button {
    position: absolute;
    bottom: -330px;
    right: 0px;
    width: 320px;
    height: 54px;
    }
}

/* ========================= */
/* ========================================== */

.form-wrapper-2 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.25; /* 20/16 */
    font-weight: 400;
    max-width: 606px;
    margin: 0 auto;
    color: #3F3F3F;
}

.crisp-form {
}

.crisp-title-box {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    color: #000000;
}

.crisp-title {}

.crisp-login-form {}

.login-lines-box {
    margin-bottom: 10px;
}

.login-form-line {}

.form-line {
    display: flex;
    /* justify-content: space-between; */
}

.form-line:not(:last-child) {
    margin-bottom: 24px;
}

.form-line__input {
    flex: 0 0 451px;
    min-height: 44px;
    border: 1px solid #C4C4C4;
    padding: 0 16px;
    flex: 1 0 auto;
}

.login-lines--add-lines {
    justify-content: flex-end;
}

.form-line__label {
    flex: 0 0 150px;
}

.asterisk {
    color: #EB5757;
}

.login-text-box {
    font-size: 14px;
    line-height: 1.5; /* 20/14 */
    color: #828282;
}

.text-box {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.4; /* 20/14 */
}

.text-box__text {}

.login-button-box {}

.button-box {
    display: flex;
    gap: 25px;
    margin-bottom: 36px;
}

.button-box__button {
    width: 120px;
    height: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    color: #fff;
    background-color: #000;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: color 0.4s;
}
.button-box__button:hover {
    color: #e7c386;
}

.forgot-link {
    display: flex;
    color: #0F6DB1;
    align-items: center;
    transition: all 0.3s;
}

.forgot-link:hover {
    color: #0f6eb1d0;
    text-shadow: 0.2px 0.2px 0.2px #0f6eb1d0;
}

.form-line--region-selection {
}

.demarcation-line1, .demarcation-line2 {
    background-color: #C4C4C4;
    height: 1px;
    max-width: 606px;
}

.demarcation-line1 {
    margin-bottom: 39px;
}

.demarcation-line2 {
    margin-bottom: 10px;
}

.demarcation-line3 {
    background-color: #C4C4C4;
    height: 1px;
    max-width: 443px;
    margin-bottom: 10px;
}

.ship-methods-box {
    margin-bottom: 24px;
}

.method-checkbox-box {
    margin-bottom: 10px;
    display: flex;
    max-width: 443px;
}


.checkbox-input {
    margin-right: 13px;
}


.checkbox__label1, .checkbox__label1 {
    color: #828282;
}


.checkbox-input:focus+.label-check {
    color: #000;
}

.checkbox__label1 {
    margin-right: 120px;
}

.checkbox__table-rate1 {
    margin-right: 96px;
}

.checkbox__label2 {
    margin-right: 110px;
}

.checkbox__table-rate2 {
    margin-right: 60px;
}

.checkbox__best-way {}

.demarcation-line3 {}

.checkbox {}



/* ======================== ship form buttons ================ */
.form-buttons {
    display: flex;
    justify-content: space-between;
}

.next {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    font-weight: 500;
    color: #fff;
}

.back {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    color: #828282;
    letter-spacing: 0.5px;
    transition: all 0.4s;
}


.back:hover {
    color: #000;
    text-shadow: 0.2px 0.2px 0.2px #000;
}

