

/*  --------- title ----------  */
.title {
	font-size: 25px;
	line-height: 1.6; /* 40/25 */
	font-weight: 700;
}

.title--white {
	color: #F8F9FA;
}

.title--medium {
	font-size: 16px;
	line-height: 1.6; /* 25/16 */
	font-weight: 500;
    color: #212529;
}

.text {
	font-size: 12px;
}

/* ---------- text ------------- */

