@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/*  --------- title ----------  */
.title {
  font-size: 25px;
  line-height: 1.6; /* 40/25 */
  font-weight: 700;
}

.tittle--white {
  color: #F8F9FA;
}

.title--medium {
  font-size: 16px;
  line-height: 1.6; /* 25/16 */
  font-weight: 500;
}

.text {
  font-size: 1.66;
}

/* ---------- text ------------- */
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #6C757D;
}

.wrapper {
  max-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  padding: 0 15px;
  max-width: 1270px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  font-size: 18px;
  line-height: 1.4; /* 25/18 */
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__logo::after {
  content: ".";
  color: #DDBEA9;
}
.header__menu {
  font-weight: 500;
  color: #A1A5A9;
}
.header__login-box {
  font-weight: 500;
  line-height: 2.1;
}
.header__login {
  color: #A1A5A9;
  margin-right: 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.header__login::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #DDBEA9;
  border-radius: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header__get-started {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #DDBEA9;
  color: #F8F9FA;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}
.menu__list {
  font-weight: 500;
  line-height: 2.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.menu__item {
  position: relative;
}
.menu__item--parent {
  margin-right: 10px;
}
.menu__item--parent::after {
  content: "";
  background: url(../img/icons/check.png) 0px 0px no-repeat;
  display: inline-block;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: -15px;
}
.menu__item::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #DDBEA9;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}
.menu__link {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__item.active::before {
  width: 100%;
  left: 0;
}
.menu__item.active {
  color: .menu__item.active #212529;
}
.menu__link.active {
  color: .menu__link.active #212529;
}

.sub-menu {
  display: none;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #212529;
  }
  .menu__item:hover::before {
    width: 100%;
    left: 0;
  }
  .header__login:hover {
    color: #212529;
  }
  .header__login:hover::after {
    width: 100%;
    left: 0;
  }
  .header__get-started:hover {
    background-color: rgba(221, 190, 169, 0.4235294118);
    color: #212529;
  }
}