@import url(../css/reset.css);
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap'); */

/* ============================= styles ================================*/ 

.wrapper {
    font-family: 'Poppins';
    font-size: 14px;
    padding: 30px 0;
    line-height: 25px;
}

.contant__container {
    max-width: 1240px;
    margin: 0 auto;
}

[class*="block"] {
    margin-bottom: 50px;
}

[class*="block"] > div {
    background-color: rgba(30, 113, 85, 0.444);
}

[class*="block"] > span {
background-color: rgb(88, 111, 188);
}

p {
    font-weight: 700;
}

/* .contant__container span {
    background-color: rgb(211, 176, 129);
} */

/* =========================== block_1 =========================== */

.test__block-1 div {
    border: 1px solid rgb(142, 39, 39);
}

.test__block-1 span {
    border: 2px dotted rgb(210, 105, 30);
}

.test__block-1 {
    border: 10px coral;
    border-style: dashed dotted solid double;
}

.link {
    border-bottom: 5px dashed rgb(105, 7, 82);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
}

.test__block-1 img {
    border: 15px rgb(50, 171, 92);
    border-style: double;
    
}

.test__block-1 p {
    text-align: center;
}

/* =========================== block_2 =========================== */

.test__block-2 div {
    outline: 5px solid chartreuse;
}
.test__block-2 span {
    outline: 3px dashed cadetblue;
}

.test__block-2 {
    outline: 5px double;
}

/* =========================== block_3 =========================== */

.test__block-3 {
    background-color: aqua;
    border-radius: 120px;
}

.test__block-3 div {
    border-radius: 10px 20px 30px 40px;
}

.test__block-3 span {
    border-radius: 20px;
}

.test__block-3 img {
    border-radius: 10px 10px 200px 10px / 50px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 20px solid red;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkkhaki;
    margin: 50px auto;
}

/* =========================== block_4 =========================== */

.test__block-4 {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 20px coral;
}

.test__block-4 div {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 5px 10px 20px rgb(71, 134, 216), -10px -10px 10px 30px rgb(195, 224, 30);
}

.test__block-4 img {
    box-shadow: 5px 5px 0 10px cornflowerblue, 15px 15px 0 20px rgb(22, 62, 72);
}

.test__block-4 span{
box-shadow: inset 5px 5px 10px 0 cornsilk;
}

/* =========================== block_5 =========================== */

.test__block-5 {
    opacity: 0.5;
}

/* =========================== block_6 =========================== */

.test__block-6 div {
    visibility: hidden;
}

.test__block-6 img {
    opacity: 50%;
}

.test__block-6 span {
    display: none;
}

.button {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    line-height: 40px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border: 5px solid crimson;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 0 0 rgb(26, 34, 48);
    position: relative;
}

.button:hover {
    background-color: beige;
    text-decoration: underline;
    box-shadow: 5px 5px 10px 1px rgb(74, 69, 66);
    top: 3px;
    transition: all 1s;
}



