@import url("reset.css");

/* підключення шрифтів через import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
/* ==================================================================== */

/* підключення підгружених шрифтів */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* ==================================================================== */


/* стилі */

.article {
    font-family: 'Poppins';
    color: #6C757D;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    max-width: 100%;
    padding: 0 15px;
}

.article__container {
max-width: 1270px;
margin: 0 auto;
}

.article__content-container {
    max-width: 816px;
    margin: 0 auto;
    min-width: 600px;
}

/* ================================= title ============================ */
.article__title-container {
    background-image: url(../img/img_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    max-width: 100%;
    min-width: 600px;
    margin-bottom: 80px;
}

.article__title {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 225px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 100px;
    top: 36px;
    text-transform: uppercase;
    color: #F8F9FA;
    font-weight: 700;
    font-size: 18px;
}

.logo__dot {
    color: #DDBEA9;
}

.title__ident1 {
    display: inline-block;
    margin-bottom: 15px;
}
.title__ident2 {
    display: inline-block;
    margin-top: 15px;
}

.title {
    font-weight: 700;
    font-size: 25px; 
    line-height: 40px;
    color: #F8F9FA;
}

.title__text {
    font-size: 12px;
    line-height: 20px;
    color: #E5E5E5;
    
}

.menu__links {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(248, 249, 250, 0.5);
    text-align: right;
    position: relative;
    bottom: 119px;
    margin-right: 40px;
}

.menu__links a {
    margin-right: 25px;
}


/* ============================== about article ======================= */

.about__article {
    margin-bottom: 15px;
}

.date, .dash, .time, .author {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}

.date, .time {
    margin-right: 5px;
}

.dash {
width: 15px;
border: 1px solid #E5E5E5;
display: inline-block;
vertical-align: middle;
margin-right: 5px;
}

.author {
    font-weight: 700;
}

/* ==================================================================== */

.subtitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #212529;
    display: inline-block;
    margin-bottom: 40px;
}

.p__ident {
    display: inline-block;
    margin-bottom: 30px;
}

.big__image {
    margin: 80px 0;
}

.dessert__image {
    max-width: 100%;
    min-width: 600px;
}

.small__images {
    margin: 80px auto;
    max-width: 100%;
    font-size: 0px;
}

.lake {
    padding-right: 30px;
}

.links__list {
    padding: 60px 0 98px 0;
}

.links__list li, .share__link a {
    font-size: 8px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 15px;
}

.links__list li {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}

.menu__links a:hover {
    color: #E5E5E5;
}

.share__link a {
background: url(../img/img_5.png) no-repeat;
padding-left: 14px;
text-transform: uppercase;
}

.share__link {
    position: relative;
    bottom: 126px;
    text-align: right;
}







